/*body,html{
  height:100%;
  width: 100%;
}*/

#canvas_container {
    width: 5000px;
    height: 5000px;  
	
	/*margin: -2500px 0 0 -100px;
    top: 50% !important;
    left: 50% !important;
   
    border: 1px solid #aaa;
    left:50%;top:50%;
    margin-left:-100px;margin-top:-50px;*/
}

.mappy {
border: 5px solid #aaa;    
    /*min-height: 100%;
    height: auto !important 
    min-width: 100%;
    width: auto !important 
    height: 100%;
    width: 100%;*/
}

body {
 margin: 0;
 padding: 0;
}
