@header-height: 120px;
@header-color: #FFFFFF;
@title-color: #E74C3C;
@post-text-color: #34495E;
@post-title-color: #2C3E50;
@post-sub-title-color: #BDC3C7;
@post-read-more-link-color: #16A085;

@font-family: 'Vollkorn', serif;
@post-font-family: 'Open Sans', sans-serif;
@big-font: 4em;
@medium-font: 2em;
@small-font: 1.25em;

@content-width: 75%;

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}
.no-margin-and-padding {
    .no-margin;
    .no-padding;
}

.content{
    width: @content-width;
    margin: 0 auto;
}

html, body{
    .no-margin-and-padding;
}

header{
    height: @header-height;
    background: @header-color;
    .title{
        .no-margin-and-padding;
        .content;
        color: @title-color;
        vertical-align: middle;
        font:@big-font e('/') @header-height @font-family;
    }
}

.post{
    .title{
        .post-title;
        .post-title-text;
    }
    .text{
        .post-content-text;
        .post-content;
    }
}

body{
    font-family: @font-family;    
}

.post-title{
    padding-bottom: 15px;
}

.post-title-text{
    color: @post-title-color;
    font-size:@medium-font;
}

.post-content{
    .no-margin-and-padding;
}

.post-content-text{
    color: @post-text-color;
    font-size: @small-font;    
}

.post-listing{
    list-style: none;
    .no-margin-and-padding;
    .post-list-item{
        .title{
            .text {
                .post-title-text;
                padding-right: 10px;
            }
            .sub-title{
                color: @post-sub-title-color;
                font-size:@small-font;
            }
            .post-title;
        }
        .post-excert{
            p{
                .post-content;
                .post-content-text;
                display: inline;
            }
        }
        
        .read-more-link{
            color:@post-read-more-link-color !important;
            font-size: @small-font; 
        }
    }
}