@large-device:   ~"only screen and (min-width: 430px)";
@small-device:   ~"only screen and (max-width: 430px)";

@desktop:       ~"only screen and (min-width: 960px)";
@tablet:        ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile:        ~"only screen and (min-width: 550px) and (max-width: 719px)";
@mini-mobile:   ~"only screen and (min-width: 1px) and (max-width: 549px)";

@header-height: 120px;
@header-color: #FFFFFF;
@title-color: #E74C3C;
@post-text-color: #34495E;
@post-title-color: #2C3E50;
@post-sub-title-color: #BDC3C7;
@post-read-more-link-color: #16A085;
@back-button-color:#2980B9;

@font-family: 'Vollkorn', serif;
@post-font-family: 'Open Sans', sans-serif;
@huge-font: 4em;
@big-font: 3.25em;
@medium-font: 2em;
@small-font: 1.75em;
@tiny-font: 1.25em;

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}
.no-margin-and-padding {
    .no-margin;
    .no-padding;
}

.content{
    @media @desktop, {
        width: 75%;    
    }
    @media @tablet{
        width: 85%;
    }
    @media @mobile{
        width: 85%;    
    }
    @media @mini-mobile{
        width: 85%;
    }
    margin: 0 auto;
}

html, body{
    .no-margin-and-padding;
}

body, .title{
    font-family: @font-family;
    font-weight: normal !important;
}

.center-text(@line-height){
    vertical-align: middle;
    line-height: @line-height;
}

header{
    height: @header-height;

    @media @mini-mobile {
        height: 200px;
    }
    @media @small-device {
        height: 160px;
    }


background: @header-color;
    .content{
        .title{
            .no-margin-and-padding;
            .center-text(@header-height);
            width: 80%;
            color: @title-color;
            float: left;

            @media @large-device{
                font-size:@huge-font;
            }

            @media @small-device {
                font-size:@big-font;
                line-height: 100px;
            }
        }
        .back{
            .no-margin-and-padding;
            .center-text(@header-height);
            width: 20%;
            overflow: hidden;

            color: @back-button-color;

            @media @desktop{
                text-align: right;
            }
            @media @tablet{
                text-align: center;
            }
            @media @mobile {
                text-align: left;
            }
            @media @mini-mobile {
                text-align: left;
                clear: both;
                line-height: 80px;
                width: 100%;

            }

            @media @large-device{
                font-size:@medium-font;
            }

            @media @small-device {
                font-size:@small-font;
                line-height: 60px;
            }
        }
    }

}

.post{
    .title{
        .post-title;
        .post-title-text;
    }
    .text{
        .post-content-text;
        .post-content;
    }
}

.post-title{
    padding-bottom: 15px;
}

.post-title-text{
    color: @post-title-color;
    @media @large-device{
        font-size:@medium-font;
    }
    @media @small-device{
        font-size:@small-font;
    }
}

.post-content{
    .no-margin-and-padding;
}

.post-content-text{
    color: @post-text-color;
    font-size: @tiny-font;    
}

.post-listing{
    list-style: none;
    .no-margin-and-padding;
    .post-list-item{
        .title{
            .text {
                .post-title-text;
                padding-right: 10px;
            }
            .sub-title{
                color: @post-sub-title-color;
                font-size:@tiny-font;
            }
            .post-title;
        }
        .post-excert{
            p{
                .post-content;
                .post-content-text;
                &:last-of-type{
                    display: inline;
                }       
            }
        }
        
        .read-more-link{
            color:@post-read-more-link-color !important;
            font-size: @tiny-font; 
        }
    }
}