@import "/static/lib/lesshat/css/lesshat.less";

@desktop:       ~"only screen and (min-width: 960px)";
@tablet:        ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile:        ~"only screen and (min-width: 430px) and (max-width: 719px)";
@mini-mobile:   ~"only screen and (min-width: 1px) and (max-width: 429px)";

@text-color: #34495e;
@text-color-dark: #2C3E50;  
@text-color-light: #7F8C8D;
@text-color-link: #16A085;
@text-color-extra-dark: #E74C3C;
@text-selection-background-color: #D65858;
@text-selection-text-color:#FFFFFF;
@text-line-height: 1.5em;
@year-width: 100px;

body{
    font-family: 'Vollkorn', serif !important;
    text-rendering: optimizeLegibility;
}

.content-width{
    @media @desktop, {
        width: 80%;
    }
    @media @tablet{
        width: 90%;
    }
    @media @mobile{
        width: 95%;
    }
    @media @mini-mobile{
        width: 95%;
    }
}

.header, .body{

    .content-width;
    margin: 15px auto;
}

.body{
    .content-width;
    margin: 30px auto;
    ::-moz-selection
    {
        background:@text-selection-background-color;
        color:@text-selection-text-color;
    }
    ::selection
    {
        background:@text-selection-background-color;
        color:@text-selection-text-color;
    }
}

.name-and-role{
    >.name{
        font-size: 4em;
        padding-bottom: 10px;
        color: @text-color-extra-dark;    
    }
}

.role{
    font-weight: 100;
    font-size: 1.7em;
    color: @text-color-dark;
}

.summary, .education, .experience, .social{
    line-height: @text-line-height;
    color: @text-color;
    margin: 20px auto;
}

.sub-heading{
    font-size: 1.3em;
    color : @text-color-dark;
}

.link{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    color:@text-color-link;
}

.college-year, .experience-summary, .company-name > .duration, .technologies{
    color: @text-color-light;
}

.company{
    margin: 10px 0;
    >.experience-line-item{
        position: relative;
        margin: 5px 0 10px 0;
        
        .year-container{
            position: absolute;
            width: @year-width;
            height: 100%;
        }
        .year{
            position: absolute;
            top: 50%;
            margin-top: (-1 * @text-line-height/2);
        }
        .details{
            overflow: hidden;
            margin-left: 100px;
        }
    }

    >.company-name{
        >.name{
            text-decoration: underline;
        }
        >.duration{
            margin-left: 3px;
            font-size: 0.9em;
        }
    }
}

.social-icon(@background-url, @tip-class){
     float: left;
     width:25px;
     height:25px;
     margin: 5px 4px;
     background:url(@background-url) 0 0;
    .transition(~"background 500ms ease-in-out");
    &:hover{
        background-position:0 25px;
        ~ div{
            >.@{tip-class}{
                display: inline;
            }
        }
    }
 }

.social{
    >.social-sub-heading{
        float: left;
        line-height: 35px;
        padding-top: 2px;
    }
    >.social-wrapper{
        display: inline-block;
        margin-left: 15px;

        >.blog{
            .social-icon("/static/img/blog.png", blog-tip);
        }
        >.github{
            .social-icon("/static/img/github.png", github-tip);
        }
        >.linkedin{
            .social-icon("/static/img/linkedin.png", linkedin-tip);
        }

        >.tip{
            clear: left;
            text-align: center;
            >span{
                display: none;
                .border-radius(2px);
                -webkit-animation: fadeIn 250ms;
                animation: fadeIn 250ms;
             }
        }
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
