body{
    font-family: 'Open Sans', sans-serif !important;
    text-rendering: optimizeLegibility;
}

.personal-details{
    margin-top: 25px !important;
    padding: 15px;
    background-color: #E6E6E6;
}

.name-and-role{
    text-align: center;
    > div{
        display: inline-block;
    }
}

.name{
    font-weight: 500;
    font-size: 4em;
    padding-bottom: 8px;
    text-align: left;
    color: #3E4044;
}

.role{
    clear: left;
    font-weight: 100;
    font-size: 2em;
    color: #3E4044;
    text-align: left;
}

.contact-element{
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0;
    display: inline-block;
}

.contact-icon{
    display: inline-block;
}

.contact-value{
    .contact-element;
    color: #3E4044;
    font-weight: 100;
    vertical-align: middle;
}

.phone, .email{
    padding-top: 5px !important;
    padding-bottom: 5px;
}

.social{
    padding-top: 5px !important;
}

.phone{
    .contact-value{
        padding-top: 3px;
    }
}

.social-icon{
    display: inline-block;
    vertical-align: middle;
    width:30px;
    height:30px;
    &:hover{
        background-position:0 30px;
    }
}

.social{
    .social-wrapper{
        display: inline-block;
        padding: 3px;
        border-style: solid;
        border-width: 1px;
        border-radius: 9px;
        border-color: #B0B0B0;
    }
    .linkedin{
            .social-icon;
            background:url(/static/img/linkedin.png) 0 0;
    }
    .blog{
            .social-icon;
            background:url(/static/img/blog.png) 0 0;
    }
}