@import "basic.less";

header{
    @media @desktop{
        height: @title-height-for-desktop-and-tablet;
    }
    @media @tablet{
        height: @title-height-for-desktop-and-tablet;
    }
    @media @mobile {
        height: @title-height-for-mobile + @back-height-for-mobile;
    }
    @media @mini-mobile {
        height: @title-height-for-mini-mobile + @back-height-for-mini-mobile;
    }
}

.post{
    .title{
        .post-title;
        .post-title-text;
    }
    .text{
        .post-content-text;
        .post-content;
        p{
            &:first-of-type{
                .no-margin-and-padding;
            }
        }
    }
}
